# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\算法总结及题库\CodingPractice-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
